html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

/*List Screen*/
.list_header {
  display: inline-block;
}
#list_trash {
  display: inline-block;
}
.list_screen_header {
  position: relative;
}
.list_name {
  display: inline-block;
  padding: 0px 10px;
  width: 50%;
}
.list_owner {
  display: inline-block;
  padding: 0px 10px;
  width: 50%;
}
.input-field {
  display: inline-block;
}
/*Item List*/
#list_item_header {
  top: 10%;
  padding: 24px;
}
.list_item_task_header, .card-assigned-to {
  left: 2%;
  width: 20%;
  display: inline-block;
}

.card-title {
  left: 2%;
  width: 50%;
  display: inline-block;
}

.list_item_due_date_header, .card-due_date {
  left: 50%;
  width: 20%;
  display: inline-block;
}

.list_item_status_header, .card-completed {
  left: 70%;
  width: 20%;
  display: inline-block;
}
.item_button_set {
  display: inline-block;
}
.item_button {
  display: inline-block;
}

.moveUpItem, .moveDownItem, .deleteItem, .editItem {
  display: inline-block;
}


/*ITEM SCREEN*/
#item_form_container {
  display: grid;
}
